simplified_ui true
// pane_frames false
// default_layout "compact"
// theme "catppuccin-macchiato"

// keybinds {
//     resize clear-defaults=true {
//         bind "Ctrl n" { SwitchToMode "Normal"; }
//         bind "h" "Left" { Resize "Increase Left"; }
//         bind "j" "Down" { Resize "Increase Down"; }
//         bind "k" "Up" { Resize "Increase Up"; }
//         bind "l" "Right" { Resize "Increase Right"; }
//         bind "H" { Resize "Decrease Left"; }
//         bind "J" { Resize "Decrease Down"; }
//         bind "K" { Resize "Decrease Up"; }
//         bind "L" { Resize "Decrease Right"; }
//         bind "=" "+" { Resize "Increase"; }
//         bind "-" { Resize "Decrease"; }
//     }
// }
//
